{% extends 'base.html.twig' %}

{% block title %}Create new storage{% endblock %}

{% block body %}


    <div class="container-fluid w-100 d-flex flex-column m-0 px-0">
        {% include 'nav/nav.html.twig' %}

        <div class="m-0 px-0 min-vh-100 d-flex flex-column align-items-center gap-5 py-5 px-5" style="width: 90%;">
            <h1 class="w-75">Lista magazynów:</h1>
            {% for storage in storages %}
            <div class="w-75 py-5 shadow rounded-3 bg-light d-flex flex-column px-5">
                <div class="d-flex w-100 justify-content-between">
                    <h3>{{ storage.name }}</h3>
                    <a href="{{ path('edit_storage', { id: storage.id }) }}"><button class="btn-edit btn btn-lg btn-outline-primary">Edytuj</button></a>
                </div>
                <p>Pracownicy:
                {% for employee in storage.employees %}
                    {% if employee is not null %}
                        {{ employee.login }},
                    {% endif %}
                {% endfor %}
                </p>
                <p>Artykuły: 10000</p>
            </div>
            {% endfor %}
        </div>

    </div>



{% endblock %}