@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0d6efd !important;
}

li {
    transition: .3s;
}

li:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

.li-without-hover:hover {
    background-color: transparent !important;
}

.logout:hover {
    color: rgb(255,0,0) !important;
}