{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    {% include 'nav/nav.html.twig' %}

    <div style="width: 85%; padding-left: 10%;">
        <div class="welcome-sign px-5 py-3">
            <h1>Witaj, {{ app.user.userIdentifier }}!</h1>
            <p>Co dzisiaj robimy?</p>
        </div>
    </div>

{% endblock %}
