<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top p-0 min-vh-100 shadow d-flex flex-column bg-light align-items-center justify-content-between">
            <div class="d-flex flex-column bg-light align-items-center justify-content-center">
                <ul class="nav nav-pills nav-flush flex-column mx-auto text-center align-items-center">
                    <li class="nav-item flex-column w-100">
                        <a href="{{ path('app') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="create-storage">
                            <i class="fa-solid fa-warehouse"></i><p>Stwórz magazyn</p>
                        </a>
                    </li>
                    <li class="nav-item flex-column w-100">
                        <a href="{{ path('app_admin') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="create-storage">
                            <i class="fa-solid fa-warehouse"></i><p>Testowa opcja</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column bg-light align-items-center justify-content-center w-100">
                <ul class="nav nav-pills nav-flush flex-column mx-auto text-center align-items-center w-100">
                    <li class="li-without-hover"><i class="fa-solid fa-user pb-3"></i> {{ app.user.userIdentifier }}</li>
                    <li class="nav-item flex-column w-100">
                        <a href="{{ path('app_logout') }}" class="logout w-100 nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="create-storage">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i><p>Wyloguj</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>